.container {
    width: 215px;
}

.topDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.calcDisplay {
    text-align: right;
    font-size: 20px;
    height: 20px;
}


.bigButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.smallButtons {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, 50px);
    column-gap: 5px;
    row-gap: 5px;
}



